<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page header">
        <h1>My friend <small><%= current_user.all_friend.count%> 位好友</small></h1>
      </div>
      <%current_user.all_friend.each do |friend|%>
      <div class="ranking-item">
        <div class="col-sm-6 col-md-4">
          <% link_to user_path(friend) do%>
          <% if friend.avatar?%>
              <%= image_tag friend.avatar, class: "img-responsive img-rounded"%>
          <% else %>
              <%= image_tag "http://fakeimg.pl/270x180/BBBBBB/", class: "img-responsive img-rounded"%>
          <% end %>
          <%end%>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <%= link_to friend.name, user_path(friend)%>
              <%= render partial:"shared/friend", locals:{user: friend}%>
            </div>
          </div>
          <div class="panel-body">
            <p><%= truncate(friend.intro, length: 200)%></p>
            <h5>已評論 <%= friend.comments.count%> 餐廳</h5>
            <ul class="list-unstyle list-inline">
              <% friend.comments.each do |comment| %>
              <li><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant)%></li>
              <% end %>
            </ul>
            <hr>
            <h5>已收藏 <%= friend.favorites.count%> 餐廳</h5>
            <ul class="list-unstyle list-inline">
              <% friend.favorites.each do |favorite| %>
              <li><%= link_to favorite.name, restaurant_path(favorite)%></li>
              <% end %>
            </ul>
            <hr>
            <h5>有 <%= friend.all_friend.count%> 朋友</h5>
            <ul class="list-unstyle list-inline">
              <% friend.all_friend.each do |friend| %>
              <li><%= link_to friend.name, user_path(friend)%></li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <%end%>
    </div>
  </div>
</div>
