<div class="container">
  <div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation"  >
      <%= link_to "首頁", root_path%>
    </li>
    <li role="presentation"  >
      <%= link_to "最新動態", feeds_restaurants_path%>
    </li>
    <li role="presentation"  >
      <%= link_to "Top10", ranking_restaurants_path%>
    </li>
    <li role="presentation"  class="active">
      <%= link_to "美食達人", users_path%>
    </li>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page header">
        <h1>美食達人</h1>
      </div>
      <hr>
      <% @users.each do |user| %>
      <div class="col-md-3 col-sm-4 col-xs-6 ">
        <div class="following-item">
          <% for id in 0..20 %>
            <% if image_path(user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
              <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', class: "img-responsive img-rounded") %>
            <% end %>
          <%end%>
          
          <h5><%= link_to user.name, user_path(user) %></h5>
          <% if user != current_user%>
            <%= render partial: "shared/follow", locals: {user: user}%>
            <%= render partial: "shared/friend", locals: {user: user}%>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
