<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <% for id in 0..20 %>
              <% if image_path(@user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', class: "img-responsive img-rounded") %>
              <% end %>
            <%end%>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <ul class="list-unstyle list-inline">
            <li><strong><%= @commented_restaurants.count%></strong> 評論的餐廳</li>
            <li><strong><%= @favorited_restaurants.count%></strong> 收藏的餐廳</li>
            <li><strong><%= @followings.count%></strong> Followings</li>
            <li><strong><%= @followers.count%></strong> Followers</li>
          </ul>
          <div><%= simple_format @user.intro %></p></div>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary"%>
            <%= link_to 'My friend', friend_list_user_path(@user), class: "btn btn-default"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <br>

    <!--followings & followers-->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong><%= @followings.count%></strong> Followings</h3>
        </div>
        <ul class="list-group text-center">
          <% @followings.each do |follow| %>
            <li class="list-group-item">
              <%= link_to user_path(follow) do %>
                <% for id in 0..20 %>
                  <% if image_path(follow.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                    <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 80, width: 80, class: "img-circle") %>
                  <% end %>
                <%end%>

                <h5>
                  <%= follow.name %>
                  <%= link_to 'Unfollow', followship_path(follow), method: :delete, class:"btn btn-info"%>
                </h5>
              <% end %>

            <% end %>
            </li>
          </ul>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @followers.count%></strong> Followers</h3>
          </div>
          <ul class="list-group text-center">
            <% @followers.each do |follower| %>
              <li class="list-group-item">
                <%= link_to user_path(follower) do %>
                  <% for id in 0..20 %>
                    <% if image_path(follower.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                      <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 80, width: 80, class: "img-circle") %>
                    <% end %>
                  <%end%>

                  <h5><%= follower.name %></h5>
                <% end %>
              <% end %>
              </li>
            </ul>
          </div>
        </div>

        <!--評論餐廳-->
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong><%= @commented_restaurants.count%></strong> 評論的餐廳</h3>
          </div>
            <div class="panel-body">
              <% @commented_restaurants.each do |restaurant| %>
                <%= link_to restaurant_path(restaurant) do %>
              <div class="my-restaurant">
                <div>
                  <% for id in 0..9 %>
                    <% if image_path(restaurant.image).include?('/'+id.to_s+'.jpg') %>
                      <%= image_tag('/seed_img/'+id.to_s+'.jpg', class: "img-responsive img-rounded") %>
                    <% end %>
                  <%end%>

                </div>
                <h5><%= restaurant.name %></h5>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <!--收藏餐廳-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong><%= @favorited_restaurants.count%></strong> 收藏餐廳</h3>
          </div>
            <div class="panel-body">
              <% @favorited_restaurants.each do |restaurant| %>
                <%= link_to restaurant_path(restaurant) do %>
              <div class="my-restaurant">
                <div>
                  <% for id in 0..9 %>
                    <% if image_path(restaurant.image).include?('/'+id.to_s+'.jpg') %>
                      <%= image_tag('/seed_img/'+id.to_s+'.jpg', class: "img-responsive img-rounded") %>
                    <% end %>
                  <%end%>

                </div>
                <h5><%= restaurant.name %></h5>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
<!--好友名單-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong><%= @user.all_friend.count%></strong> 好友</h3>
          </div>
            <div class="panel-body">
              <% @user.all_friend.each do |friend| %>
                <%= link_to user_path(friend) do %>
              <div class="my-restaurant">
                <div>
                  <% for id in 0..20 %>
                    <% if image_path(friend.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                      <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', class: "img-responsive img-rounded") %>
                    <% end %>
                  <%end%>

                </div>
                <h5><%= friend.name %></h5>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>


      </div>
  </div>
</div>
