<% @restaurants.each do |restaurant| %>
  <div class="col-sm-6 col-md-4">
    <div class="restaurant-item">
      <% for id in 0..9 %>
        <% if image_path(restaurant.image).include?('/'+id.to_s+'.jpg') %>
          <%= image_tag('/seed_img/'+id.to_s+'.jpg', class: "img-responsive img-rounded") %>
        <% end %>
      <%end%>

      <div class="caption">
        <h3><%= link_to restaurant.name, restaurant_path(restaurant)%></h3>
        <p class="label label-default"><%= restaurant.category.name%></p>
        <p><%= truncate(restaurant.description, length: 80) %></p>
        <%= render partial:"shared/favorite", locals:{restaurant:restaurant}%>
        <%= render partial:"shared/like", locals:{restaurant:restaurant}%>
      </div>
    </div>
  </div>
<% end %>
<div class="text-center">
  <%= paginate @restaurants %>
</div>
