<div class="form container">
  <div class="row">
    <% if @restaurant.errors.any? %>
      <h4>We have some errors here !</h4>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>

    <%= form_for [:admin, @restaurant] do |f| %>

    <div class="form-group">
      <%= f.label :name, "Name" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :tel, "Tel" %><br>
      <%= f.text_field :tel, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address, "Address" %><br>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :opening_hours, "Opening Hours" %><br>
      <%= f.text_field :opening_hours, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Description" %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image, "Photo" %>
      <%= image_tag @restaurant.image, width: '300px' if @restaurant.image? %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>  <%= link_to 'Back to index', admin_restaurants_path, class: "btn btn-info" %>
    </div>
  <% end %>
  </div>
</div>
