<div class="background_index">
<div class="container">
  <div class="content">
  <h1>餐廳後臺</h1>
  <div>
    <%= link_to 'Restaurant', admin_restaurants_path %> |
    <%= link_to 'Categories', admin_categories_path%>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div>
        <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>
      </div>
      <br>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>No</th>
            <th>Category</th>
            <th>Name</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <th scope="row"><%= restaurant.id%></th>
            <td>[<%= restaurant.category.name %>]</td>
            <td><strong><%= restaurant.name %></td>
            <td>
              <%= link_to 'Show', admin_restaurant_path(restaurant),class: "btn btn-primary" %>
              <%= link_to 'Edit', edit_admin_restaurant_path(restaurant), class: "btn btn-success" %>
              <%= link_to 'Delete', admin_restaurant_path(restaurant), class: "btn btn-danger", method: :delete, data: {confirm:"Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @restaurants %>
      </div>

    </div>
  </div>
</div>
</div>
</div>
