<div class="container">
  <div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" >
      <%= link_to "首頁", root_path%>
    </li>
    <li role="presentation"  >
      <%= link_to "最新動態", feeds_restaurants_path%>
    </li>
    <li role="presentation" class="active" >
      <%= link_to "Top10", ranking_restaurants_path%>
    </li>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page header">
        <h1>Top10人氣餐廳 <small>（收藏數最高）</small></h1>
      </div>
      <%@most_favorited.each do |most|%>
      <div class="ranking-item">
        <div class="col-md-3">
          <% link_to restaurant_path(most) do%>
          <% if most.image?%>
              <%= image_tag most.image, class: "img-responsive img-rounded"%>
          <% else %>
              <%= image_tag "http://fakeimg.pl/270x180/BBBBBB/", class: "img-responsive img-rounded"%>
          <% end %>
          <%end%>
      </div>
      <div class="col-md-9">
        <h4>
          <%= most.name %>
          <span class="label label-default">收藏數： <%=most.favorites_count%></span>
        </h4>
        <p><%= truncate(most.description, length: 200)%></p>
        <div>
          <%= link_to "Show", restaurant_path(most), class:"btn btn-primary"%>
          <%= render partial:"shared/favorite", locals:{restaurant: most}%>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <%end%>
  </div>
</div>
</div>
